Includes/
Resources/
Interfaces/
Packages/Candidates
Packages/CortexMx
Packages/Drivers
Packages/Examples
Packages/FreeRTOS
Packages/Generic
Packages/InterfaceStandard
Packages/Message
Packages/nRF52_SDK15
Packages/nRF91
Packages/Serial
Packages/Simulation
Packages/ST
Packages/System

